@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif
}

body {
    text-align: justify;
    background-image: linear-gradient(to right,#525759,#212026)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0D0000;
    width: 90%;
    max-width: 960px;
    padding: 10px;
    margin: auto;
}

span > img {
    border-radius: 50%;
}

h1{
    color: rgb(60, 30, 30);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(12, 7, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(51, 32, 32);
    font-family: Garamond;
}
a{
    color: rgb(7, 114, 114);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: rgb(9, 66, 66);
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: rgb(83, 255, 255);
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}